<h2 id="tituloMural">
    Mural de Informações
</h2>

<table>
    <tr>
        <td>
            <label>Título </label>
        </td>
        <td>
            <label name="titlebox">Reunião X</label>
        </td>
    </tr>
    <tr>
        <td>
            <label>Evento </label>
        </td>
        <td>
            <label name="eventbox">evento</label>
        </td>
    </tr>
    <tr>
        <td>
            <label>Data do evento </label>
        </td>
        <td>
            <label name="eventdatebox">05/06/2018</label>
        </td>
    </tr>
    <tr>
        <td>
            <label>Pauta do evento </label>
        </td>
        <td>
            <label name="eventtopicbox">pauta</label>
        </td>
    </tr>
    <tr>
        <td>
            <label>Mensagem </label>
        </td>
        <td>
            <label name="message">mensagem</label>
        </td>
    </tr>
</table>